<div class="content">

  <h2>Add Artist</h2>

  <form action="/artists" method="post">
    <label for="name"><strong>Artist Name:</strong></label>
    <input type="text" name="name">
    <input type='submit' value="Add Artist">
  </form>

</div>